:root {
    --color-text-light: #f0f0f0;
    --color-text-dark: #000000;
    
    --color-background: #4facfe;

    --color-primary: #00f2fe;
    --color-primary-contrast: #2e2e2e;

    --color-secondary: #003459;
    --color-secondary-contrast: #0DFFD5;

    --gradient: linear-gradient(to right, #1B4079 0%, #00f2fe 23%, #1B4079 95%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* 10px */
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}
