.header {
    height: 6rem;
    width: 100%;
    position: fixed;
    z-index: 999;
    
    background-image: var(--gradient);
    color: var(--color-text-light);
}

.header__title {
    padding-left: 2.4rem;

    color: var(--color-text-light);
    font-size: clamp(32px, 4vw, 48px);
    font-weight: 200;
}

.header__top {
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header--take-all-height-screen {
    height: 100vh;
    overflow-y: auto;
}

.toggle-menu {
    padding-right: 2.4rem;
}

.toggle-menu__image {
    color: var(--color-text-light);
    fill: currentColor;
    width: 3.2rem;
    cursor: pointer;
}

.toggle-menu__close,
.toggle-menu__open {
    border: transparent;
    background: transparent; 
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    cursor: pointer;
}

.toggle-menu__close--display-none,
.toggle-menu__open--display-none {
    display: none;
}

.menu {
    display: none;
}

.menu--show-list {
    padding-top: 4rem;

    display: flex;
    justify-content: center;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;
    font-weight: 300;
    font-size: var(--font-size-xxlg);
}


.list__link:hover {
    color: var(--color-secondary-contrast);
}

.list__link {
    padding-bottom: 2.4rem;
}

@media screen and (min-width: 1000px) {
    .toggle-menu {
        display: none;
    }
    
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu {
        font-size: 2.0rem;
        display: flex;
        align-items: center;
    }

    .list {
        padding-right: 2.4rem;
        flex-direction: row;
        align-items: center;
        gap: 1.6rem;
        font-size: clamp(24px, 2.3vw, 32px);
    }

    .list__link {
        padding: 0;
    }
}
